$bodyBg: #C5B8A8;
$heroColor: rgba(81, 90, 71, 1);
$writeMeBtn: rgba(160, 175, 123, 1);
$writeMeText: rgba(60, 68, 52, 1);
$aboutMeDescr: #404040;
$formatCard: #FFFFFC;
$formatQuote: rgba(255, 255, 248, 1);
$borderColor: #515A47;
$headingSection: #515A47;
$footerHeading: #fff;
$navMenuBg: #ffffffe3;
$navLink: #515A47;
$swiperArrows: #8f8170;
$swiperPagination: #8f8170;